{# -*- mode:web; web-mode-markup-indent-offset:2; tab-width:2; c-basic-offset:2; intent-tabs-mode:nil; -*- ex: set tabstop=2 expandtab: #}
{# DataJukeboxBundle\Resources\views\Data\detail.html.twig #}

{% block DataJukebox_detail -%}
  <DIV CLASS="DataJukebox"><DIV CLASS="detail">
    <FORM ID="DataJukebox_{{ data.properties.uid }}_form" ACTION="{% if data.properties.routes.detail[1] is defined and data.properties.routes.detail[1] %}{{ path(data.properties.routes.detail[0], data.properties.routes.detail[1]|DataJukebox_map(app.request.attributes.get('_route_params'))) }}{% endif %}" METHOD="GET" ONSUBMIT="javascript:DataJukebox_onSubmit('{{ data.properties.uid|escape('js') }}');">
      <TABLE CLASS="data">
        {{ block('DataJukebox_detail_header') }}
        {% if data.rows|length -%}
          {{ block('DataJukebox_detail_row') }}
        {% else -%}
          <TR CLASS="odd"><TD CLASS="empty" COLSPAN="999">{% if data.properties.labels._data_empty is defined %}{{ data.properties.labels._data_empty }}{% else %}&nbsp;{% endif %}</TD></TR>
        {% endif -%}
        {{ block('DataJukebox_detail_footer') }}
      </TABLE>
    </FORM>
  </DIV></DIV>
  {{ block('DataJukebox_detail_javascript') }}
{% endblock DataJukebox_detail -%}

{% block DataJukebox_detail_header -%}
  <TR CLASS="header"><TD COLSPAN="2">
    {{ block('DataJukebox_detail_display') }}
    {% if data.properties.labels._title_detail is defined %}<DIV CLASS="title"><LABEL{% if data.properties.tooltips._title_detail is defined %} TITLE="{{ data.properties.tooltips._title_detail }}" STYLE="CURSOR:help;"{% endif %}>{{ data.properties.labels._title_detail }}</LABEL></DIV>{% endif %}
  </TD></TR>
{% endblock DataJukebox_detail_header -%}

{% block DataJukebox_detail_display -%}
  <DIV CLASS="display" STYLE="POSITION:relative;">
    <A HREF="javascript:;" ONCLICK="javascript:document.getElementById('DataJukebox_{{ data.properties.uid }}_display').style.display='inline';"><SPAN CLASS="icon">&#x21f2;</SPAN></A>
    <DIV CLASS="overlay" ID="DataJukebox_{{ data.properties.uid }}_display" STYLE="POSITION:absolute;DISPLAY:none;">
      <INPUT TYPE="hidden" ID="_fd[]" NAME="{{ data.browser.uid }}_fd[]" VALUE="1" DISABLED />
      <TABLE>
        <TR><TD COLSPAN="2"><TABLE ID="_top"><TR><TD CLASS="action" ID="_display_close"><A HREF="javascript:;" ONCLICK="javascript:document.getElementById('DataJukebox_{{ data.properties.uid }}_display').style.display='none';"><SPAN CLASS="icon">&#x21f1;</SPAN></A></TD>{% if data.properties.labels._display is defined %}<TD CLASS="title"><LABEL{% if data.properties.tooltips._display is defined %} TITLE="{{ data.properties.tooltips._display }}" STYLE="CURSOR:help;"{% endif %}>{{ data.properties.labels._display }}</LABEL></TD>{% endif %}<TD CLASS="action" ID="_display_reset"{% if data.properties.tooltips._display_reset is defined %} TITLE="{{ data.properties.tooltips._display_reset }}"{% endif %}><A HREF="javascript:;" ONCLICK="javascript:DataJukebox_displayReset('{{ data.properties.uid|escape('js') }}');"><SPAN CLASS="icon">&#x274c;</SPAN></A></TD><TD CLASS="action" ID="_display_submit"{% if data.properties.tooltips._display_submit is defined %} TITLE="{{ data.properties.tooltips._display_submit }}"{% endif %}><A HREF="javascript:;" ONCLICK="javascript:DataJukebox_displaySubmit('{{ data.properties.uid|escape('js') }}');"><SPAN CLASS="icon">&#x27a1;</SPAN></A></TD></TR></TABLE></TD></TR>
        {% set tooltips_keys = data.properties.tooltips|keys -%}
        {%- for field in data.properties.fields -%}
          {%- if field not in data.properties.fields_hidden -%}
            <TR><TD CLASS="field"><LABEL{% if field in tooltips_keys and attribute(data.properties.tooltips, field) %} TITLE="{{ attribute(data.properties.tooltips, field) }}" STYLE="CURSOR:help;"{% endif %}>{{ attribute(data.properties.labels, field) }}</LABEL></TD><TD CLASS="input"><INPUT TYPE="checkbox"{% if field not in data.properties.fields_required %} ID="_fd[]" NAME="{{ data.browser.uid }}_fd[]"{% endif %} VALUE="{{ field }}{% if app.request.query.get(data.browser.uid~'_fd') is null %} {% endif %}" ONCHANGE="javascript:this.value=this.value.trim()"{% if field in data.properties.fields_required or field in data.browser.fields %} CHECKED{% endif %}{% if field in data.properties.fields_required%} DISABLED{% endif %} /></TD></TR>
          {% endif -%}
        {%- endfor -%}
        <TR><TD COLSPAN="2"><TABLE ID="_bottom"><TR><TD CLASS="action" ID="_display_reset"{% if data.properties.tooltips._display_reset is defined %} TITLE="{{ data.properties.tooltips._display_reset }}"{% endif %}><A HREF="javascript:;" ONCLICK="javascript:DataJukebox_displayReset('{{ data.properties.uid|escape('js') }}');"><SPAN CLASS="icon">&#x274c;</SPAN></A></TD><TD CLASS="action" ID="_display_submit"{% if data.properties.tooltips._display_submit is defined %} TITLE="{{ data.properties.tooltips._display_submit }}"{% endif %}><A HREF="javascript:;" ONCLICK="javascript:DataJukebox_displaySubmit('{{ data.properties.uid|escape('js') }}');"><SPAN CLASS="icon">&#x27a1;</SPAN></A></TD></TR></TABLE></TD></TR>
      </TABLE>
      <DIV CLASS="placeholder">&nbsp;</DIV>
    </DIV>
  </DIV>
{% endblock DataJukebox_detail_display -%}

{% block DataJukebox_detail_row -%}
  {%- set row = data.rows[0] -%}
  {%- set row_keys = row|keys -%}
  {%- set tooltips_keys = data.properties.tooltips|keys -%}
  {%- set fields_link_keys = data.properties.fields_link|keys -%}
  {%- set disabled=false -%}{% if row.Disabled is defined %}{% set disabled=row.Disabled %}{% endif -%}
  {%- set index = 0 %}{% for field, value in row -%}
    {%- if field not in data.properties.fields_hidden and value is not null -%}
      {%- set field_formatted=field~'|format' %}{% if field_formatted in row_keys %}{% set value_formatted=attribute(row, field_formatted) %}{% else %}{% set value_formatted=value|DataJukebox_format %}{% endif -%}
      <TR CLASS="{{ cycle(['odd','even'], index) }}">
        <TH CLASS="field" ID="{{ field }}"><LABEL{% if field in tooltips_keys and attribute(data.properties.tooltips, field) %} TITLE="{{ attribute(data.properties.tooltips, field) }}" STYLE="CURSOR:help;"{% endif %}>{{ attribute(data.properties.labels, field) }}</LABEL></TH>
        <TD CLASS="value" ID="{{ field }}">
          {%- if disabled %}<SPAN CLASS="disabled">{% endif -%}
          {%- if value|length and field in fields_link_keys -%}
            {%- set link=attribute(data.properties.fields_link, field) -%}
            {%- if link[0] == 'path' -%}
              <A HREF="{% if link[2] is defined and link[2] %}{{ path(link[1], link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row))) }}{% else %}{{ path(link[1]) }}{% endif %}">{{ value_formatted|raw }}</A>
            {%- elseif link[0] == 'path+query' -%}
              <A HREF="{% if link[2] is defined and link[2] %}{{ path(link[1], app.request.query.all|merge(link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row)))) }}{% else %}{{ path(link[1], app.request.query.all) }}{% endif %}">{{ value_formatted|raw }}</A>
            {%- elseif link[0] == 'url' -%}
              <A HREF="{% if link[2] is defined and link[2] %}{{ url(link[1], link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row))) }}{% else %}{{ url(link[1]) }}{% endif %}">{{ value_formatted|raw }}</A>
            {%- elseif link[0] == 'url+query' -%}
              <A HREF="{% if link[2] is defined and link[2] %}{{ url(link[1], app.request.query.all|merge(link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row)))) }}{% else %}{{ url(link[1], app.request.query.all) }}{% endif %}">{{ value_formatted|raw }}</A>
            {%- else -%}
              {{ value_formatted|raw }}
            {%- endif -%}
          {%- else -%}
            {{ value_formatted|raw }}
          {%- endif -%}
          {%- if disabled %}</SPAN>{% endif -%}
        </TD>
      </TR>
      {% set index = index+1 %}{% endif -%}
  {% endfor -%}
{% endblock DataJukebox_detail_row -%}

{% block DataJukebox_detail_footer -%}
  <TR CLASS="footer"><TD COLSPAN="2">
    {% if data.rows|length -%}
      {{ block('DataJukebox_detail_actions') }}
      {{ block('DataJukebox_detail_links') }}
    {% endif -%}
    <DIV STYLE="CLEAR:both;"></DIV>
  </TD></TR>
{% endblock DataJukebox_detail_footer -%}

{% block DataJukebox_detail_actions -%}
  {%- set row = data.rows[0] -%}
  <DIV CLASS="action"><TABLE><TR>
    {% if data.properties.routes.update is defined and data.properties.routes.update and ( row.UpdateAllowed is not defined or row.UpdateAllowed ) -%}
      <TD CLASS="action" ID="_update"{% if data.properties.tooltips._action_update is defined %} TITLE="{{ data.properties.tooltips._action_update }}"{% endif %}><A HREF="{% if data.properties.routes.update[1] is defined and data.properties.routes.update[1] %}{{ path(data.properties.routes.update[0], data.properties.routes.update[1]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row))) }}{% else %}{{ path(data.properties.routes.update[0], {'_pk': row._PK}) }}{% endif %}"><SPAN CLASS="icon">&#x2298;</SPAN>{% if data.properties.labels._action_update is defined %}<LABEL>{{ data.properties.labels._action_update }}</LABEL>{% endif %}</A></TD>
    {% endif -%}
    {% if data.properties.routes.delete is defined and data.properties.routes.delete and ( row.DeleteAllowed is not defined or row.DeleteAllowed ) -%}
      <TD CLASS="action" ID="_delete"{% if data.properties.tooltips._action_delete is defined %} TITLE="{{ data.properties.tooltips._action_delete }}"{% endif %}><A HREF="{% if data.properties.routes.delete[1] is defined and data.properties.routes.delete[1] %}{{ path(data.properties.routes.delete[0], data.properties.routes.delete[1]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row))) }}{% else %}{{ path(data.properties.routes.delete[0], {'_pk': row._PK}) }}{% endif %}" ONCLICK="javascript:return window.confirm('{% if data.properties.labels._action_delete_confirm is defined %}{{ data.properties.labels._action_delete_confirm|escape('js') }}{% else %}DELETE ?{% endif %}{% if data.properties.tooltips._action_delete is defined %}\n{{ data.properties.tooltips._action_delete_confirm|escape('js') }}{% endif %}');"><SPAN CLASS="icon">&#x2297;</SPAN>{% if data.properties.labels._action_delete is defined %}<LABEL>{{ data.properties.labels._action_delete }}</LABEL>{% endif %}</A></TD>
    {% endif -%}
    {% if data.properties.routes.insert is defined and data.properties.routes.insert -%}
      <TD CLASS="action" ID="_insert"{% if data.properties.tooltips._action_insert is defined %} TITLE="{{ data.properties.tooltips._action_insert }}"{% endif %}><A HREF="{% if data.properties.routes.insert[1] is defined and data.properties.routes.insert[1] %}{{ path(data.properties.routes.insert[0], data.properties.routes.insert[1]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row))) }}{% else %}{{ path(data.properties.routes.insert[0]) }}{% endif %}"><SPAN CLASS="icon">&#x2295;</SPAN>{% if data.properties.labels._action_insert is defined %}<LABEL>{{ data.properties.labels._action_insert }}<LABEL>{% endif %}</A></TD>
    {% endif -%}
  </TR></TABLE></DIV>
{% endblock DataJukebox_detail_actions -%}

{% block DataJukebox_detail_links -%}
  {%- if data.properties.footer_links|length -%}
    {%- set row = data.rows[0] -%}
    <DIV CLASS="links"><TABLE><TR>
      {% set tooltips_keys = data.properties.tooltips|keys -%}
      {%- for id, link in data.properties.footer_links -%}
        {%- set label=id %}{% set label=attribute(data.properties.labels, id) %}
        {%- set tooltip='' -%}{% if id in tooltips_keys %}{% set tooltip=attribute(data.properties.tooltips, id) %}{% endif -%}
        <TD CLASS="action" ID="{{ id }}">
          {%- if link[0] == 'path' -%}
            <A HREF="{% if link[2] is defined and link[2] %}{{ path(link[1], link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row))) }}{% else %}{{ path(link[1]) }}{% endif %}"{% if tooltip %} TITLE="{{ tooltip }}"{% endif %}>
          {%- elseif link[0] == 'path+query' -%}
              <A HREF="{% if link[2] is defined and link[2] %}{{ path(link[1], app.request.query.all|merge(link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row)))) }}{% else %}{{ path(link[1], app.request.query.all) }}{% endif %}"{% if tooltip %} TITLE="{{ tooltip }}"{% endif %}>
          {%- elseif link[0] == 'url' -%}
                <A HREF="{% if link[2] is defined and link[2] %}{{ url(link[1], link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row))) }}{% else %}{{ url(link[1]) }}{% endif %}"{% if tooltip %} TITLE="{{ tooltip }}"{% endif %}>
          {%- elseif link[0] == 'url+query' -%}
                  <A HREF="{% if link[2] is defined and link[2] %}{{ url(link[1], app.request.query.all|merge(link[2]|DataJukebox_map(app.request.attributes.get('_route_params')|merge(row)))) }}{% else %}{{ url(link[1], app.request.query.all) }}{% endif %}"{% if tooltip %} TITLE="{{ tooltip }}"{% endif %}>
          {%- elseif link[0] == 'href' -%}
                    <A HREF="{{ link[1]|replace({'%{this}':value, '%{pk}':row._PK}) }}" TARGET="{{ link[2] }}"{% if tooltip %} TITLE="{{ tooltip }}"{% endif %}>
          {%- endif -%}
          {% if link[3] is defined and link[3] %}<SPAN CLASS="icon">{{ link[3] }}</SPAN>{% endif %}<LABEL>{{ label }}</LABEL></A></TD>
      {% endfor -%}
    </TR></TABLE></DIV>
  {% endif -%}
{% endblock DataJukebox_detail_links -%}

{% block DataJukebox_detail_javascript -%}
  <SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">/*<![CDATA[*/
    DataJukebox_init('{{ data.properties.uid|escape('js') }}');
  /*]]>*/</SCRIPT>
{% endblock DataJukebox_detail_javascript -%}
